* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
}

.bg-indigo-600 {
  background-color: rgb(79, 70, 229) !important;
}

.color-indigo-600 {
  color: rgb(79, 70, 229);
}

h5 {
  margin-top: 3px;
  margin-bottom: 3px;
}
