@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#banner:before {
  content: "";
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url("/assets/images/hipnoterapy-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 366px;
}

#banner {
  z-index: 0;

  position: relative;
}

#banner h1 {
  position: absolute;
  top: 41%;
  text-align: center;
  width: 100%;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 27px;
  height: 48px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;

  cursor: pointer;
}
.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(25px);
  }
}

#nav-white-menu-item {
  color: #161616;
}

#nav-white-menu-item:hover {
  color: #369ddf;
}
